body {

  margin: 0;
  padding: 0;
  padding-top: 1px;
  
}

#blog, #admin {

  width: 900px;
  margin: 0 auto;

}

#input {

  width: 850px;
  height: 300px;
  margin: 20px auto;
  display: block;
  resize: vertical;
  
}

#morePostsButton {
  
  width: 115px;
  padding: 10px 15px;
  border: 1px solid #ddd;
  background-color: #f5f5f5;
  margin: 25px auto 0px auto;
  border-radius: 5px;
  cursor: pointer;
  
}

 .editPostButton {
  
  width: 70px;
  padding: 5px 10px;
  border: 1px solid #ddd;
  background-color: #f5f5f5;
  margin: 25px 0px 0px auto;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  
}

.postEditArea {

  height: 300px;
  border: 1px solid black;
  padding: 15px;
  
}

.editPostHeading {
  width: 99%;
  font-size: 20px;
}

.editPostBody {

  margin-top: 15px;
  width: 99%;
  height: 200px;
  resize: none;
  
}